<div class='top-bar'>
    <div class='logo'>
        <a href='/'>후기</a>
    </div>
    <div class='menu-set'>
        <a class="round-btn login-btn" href="/start/login_service"> 로그인 </a>
    </div>
</div>
