<!DOCTYPE html>
<html>
    <head>
        <% include ../partial/common/head %>
    </head>
    <body>
        <div class='header-wrap'>
            <% include ../partial/common/header %>
        </div>

        <div class="container">
            <br>
            <div class="jumbotron">
                <h2>로그인</h2>
                <br>
                <form role="form" method="post" action="/login">
                    <div class="form-group">
                        <label for="email">Email address:</label>
                        <input type="email" class="form-control" id="email" placeholder="Enter Email" name="username">
                    </div>
                    <div class="form-group">
                        <label for="pwd">Password:</label>
                        <input type="password" class="form-control" id="pwd" placeholder="Enter Password" name="password">
                    </div>
                    <%if (login == 'fail') { %>
                    <p style='color:red'>
                        아이디 없는데요??
                    </p>
                    <% } %>
                    <button type="submit" class="btn btn-info">
                        Login
                    </button>
                </form>
            </div>
        </div>

        <div class='footer-wrap'>
            <% include ../partial/common/footer %>
        </div>
    </body>
</html>
