<!DOCTYPE html>
<html>
    <head>
        <% include ../partial/common/head %>
    </head>
    <body>
        <div class='header-wrap'>
            <% include ../partial/common/header %>
        </div>
        <div class='content'>
            <%=id%>
        </div>
        <div class='footer-wrap'>
            <% include ../partial/common/footer %>
        </div>
    </body>
</html>

