<!DOCTYPE html>
<html>
    <head>
        <% include ../partial/common/head %>
        <link rel='stylesheet' type='text/css' href='/static/css/view.css'>
    </head>
    <body>
        <div class='header-wrap'>
            <% include ../partial/other/header %>
        </div>
        <div class='content'>
            <%=title%> - <%=pageId%>
        </div>
        <div class='footer-wrap'>
            <% include ../partial/other/footer %>
        </div>
    </body>
</html>

