<!DOCTYPE html>
<html>
    <head>
        <% include ../partial/common/head %>
        <link rel='stylesheet' type='text/css' href='/static/css/write.css'>
    </head>
    <body>
        <div class='header-wrap'>
            <% include ../partial/other/header %>
        </div>
        <form id =  "uploadForm"
         enctype =  "multipart/form-data"
         action  =  "/api/photo"
         method  =  "post" >
        <input type="file" id="file" name="files[]" multiple onchange="startRead()"/>
        <div id="preview"></div>
        <input type="submit" value="Upload Image" name="submit">
        <script>
        function startRead(evt) {
            var file = document.getElementById('file').files[0];
            if (file) {
                if (file.type.match("image.*")) {
                    getAsImage(file);
                    alert("Name: " + file.name + "\n" + "Last Modified Date :" + file.lastModifiedDate);
                }
            }
        }
        function getAsImage(readFile) {
            var reader = new FileReader();
            reader.readAsDataURL(readFile);
            reader.onload = addImg;
        }
        function addImg(imgsrc) {
            var img = document.createElement('img');
            img.setAttribute("src", imgsrc.target.result);
            img.setAttribute("height","510");
            img.setAttribute("width","510");
            document.getElementById("preview").appendChild(img);
        }
	    </script>
        <div class='footer-wrap'>
            <% include ../partial/other/footer %>
        </div>
    </body>
</html>
