<!DOCTYPE html>
<html>
    <% include ../partial/common/head %>
    <body class="no-trans">
        <!-- scrollToTop -->
        <!-- ================ -->
        <div class="scrollToTop circle">
            <i class="icon-up-open-big"></i>
        </div>

        <!-- page wrapper start -->
        <!-- ================ -->
        <div class="page-wrapper">
            <% include ../partial/common/header %>

            <!-- 여기에 컨텐츠 -->

            <section class="pv-30 section parallax background-img-1 dark-translucent-bg" style="background-position: 50% -18px;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="call-to-action text-center">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h1 class="title">아이폰7의 리얼 사용기가 궁금하십니까?</h1>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem quasi explicabo consequatur consectetur, a atque voluptate officiis eligendi nostrum.
                                        </p>
                                    </div>
                                    <div class="col-sm-12">
                                        <br>
                                        <br>
                                        <br>
                                        <p>
                                            <a href="/hooki/read/1" class="btn btn-lg btn-gray-transparent btn-animated">후기 보러 가기<i class="fa fa-arrow-right pl-20"></i></a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section pv-30">
                <div class="container">
                    <h2 class="text-center"><B>많은 수</B>의 후기가 등록되어 있습니다.</h2>
                    <div class="separator"></div>
                    <br>
                    <p class="large text-center">
                        유저가 직접 작성한 후기에 이의제기? 공동수정 기능을 넣을까?.<BR> 당신도 참여하세요!
                    </p>
                </div>
            </section>
            <!-- section start -->
            <!-- ================ -->
            <section class="pv-40 stats padding-bottom-clear parallax light-translucent-bg hovered background-img-1">
                <div class="clearfix">
                    <div class="col-md-3 col-xs-6 text-center">
                        <div class="feature-box object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300">
                            <span class="icon dark-bg circle"><i class="fa fa-diamond"></i></span>
                            <h3><strong>스마트 기기</strong></h3>
                            <span class="counter" data-to="1525" data-speed="5000">0</span>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6 text-center">
                        <div class="feature-box object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300">
                            <span class="icon dark-bg circle"><i class="fa fa-users"></i></span>
                            <h3><strong>맛집</strong></h3>
                            <span class="counter" data-to="1225" data-speed="5000">0</span>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6 text-center">
                        <div class="feature-box object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300">
                            <span class="icon dark-bg circle"><i class="fa fa-cloud-download"></i></span>
                            <h3><strong>미용실</strong></h3>
                            <span class="counter" data-to="12235" data-speed="5000">0</span>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6 text-center">
                        <div class="feature-box object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300">
                            <span class="icon dark-bg circle"><i class="fa fa-share"></i></span>
                            <h3><strong>기타 등등</strong></h3>
                            <span class="counter" data-to="15002" data-speed="5000">0</span>
                        </div>
                    </div>
                </div>
            </section>
            <!-- section end -->

            <section class="pv-30 light-gray-bg padding-bottom-clear">
                <div class="space-bottom">
                    <div class="owl-carousel content-slider owl-theme" style="opacity: 1; display: block;">
                        <div class="owl-wrapper-outer">
                            <div class="owl-wrapper" style="width: 7612px; left: -1903px; display: block;">
                                <div class="owl-item" style="width: 1903px;">
                                    <div class="container" style="margin-left: auto;">
                                        <div class="row">
                                            <div class="col-md-8 col-md-offset-2">
                                                <div class="testimonial text-center">
                                                    <div class="testimonial-image">
                                                        <img src="/static/images/you.jpg" alt="Jane Doe" title="Jane Doe" class="img-circle">
                                                    </div>
                                                    <h3>Just Perfect!</h3>
                                                    <div class="separator"></div>
                                                    <div class="testimonial-body">
                                                        <blockquote>
                                                            <p>
                                                                Sed ut perspiciatis unde omnis iste natu error sit voluptatem accusan tium dolore laud antium, totam rem dolor sit amet tristique pulvinar, turpis arcu rutrum nunc, ac laoreet turpis augue a justo.
                                                            </p>
                                                        </blockquote>
                                                        <div class="testimonial-info-1">
                                                            - 유재석
                                                        </div>
                                                        <div class="testimonial-info-2">
                                                            By Company
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 1903px;">
                                    <div class="container" style="margin-left: auto;">
                                        <div class="row">
                                            <div class="col-md-8 col-md-offset-2">
                                                <div class="testimonial text-center">
                                                    <div class="testimonial-image">
                                                        <img src="/static/images/testimonial-2.jpg" alt="Jane Doe" title="Jane Doe" class="img-circle">
                                                    </div>
                                                    <h3>Amazing!</h3>
                                                    <div class="separator"></div>
                                                    <div class="testimonial-body">
                                                        <blockquote>
                                                            <p>
                                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et cupiditate deleniti ratione in. Expedita nemo, quisquam, fuga adipisci omnis ad mollitia libero culpa nostrum est quia eos esse vel!
                                                            </p>
                                                        </blockquote>
                                                        <div class="testimonial-info-1">
                                                            - Jane Doe
                                                        </div>
                                                        <div class="testimonial-info-2">
                                                            By Company
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <% include ../partial/common/footer %>
        </div>
        <!-- page-wrapper end -->
        <% include ../partial/common/scripts %>
    </body>
</html>
