<!DOCTYPE html>
<html>
    <head>
        <% include ../partial/common/head %>
    </head>
    <body>
        <div class='header-wrap'>
            <% include ../partial/common/header %>
        </div>

        <div class="container">
            <br>
            <div class="jumbotron">
                <h2>로그인</h2>
                <br>
                <form action='/auth/login' method='post' role="form">
                    <div class="form-group">
                        <label for="email">Email address:</label>
                        <input type="email" class="form-control email" placeholder="Enter Email (a@mail.com, b@mail.com만 가능)" name="username">
                    </div>
                    <div class="form-group">
                        <label for="pwd">Password:</label>
                        <input type="password" class="form-control pwd" placeholder="Enter Password (아무거나 가능)" name="password">
                    </div>
                    <p class ='login-fail-msg' style='color:red'></p>
                    <button type="submit" class="btn btn-info">
                        Login
                    </button>
                </form>
                <h3><a href='/auth/facebook'>facebook login</a></h3>
                <h3><a href='/auth/twitter'>twitter login</a></h3>
            </div>
        </div>

        <div class='footer-wrap'>
            <% include ../partial/common/footer %>
        </div>

    </body>
    <script>
        $(document).ready(function() {
            $('.login-form').submit(function(event) {
                var email = $('.login-form input.email').val();
                var password = $('.login-form input.pwd').val();

                if (!email || !password) {
                    $('.login-form .login-fail-msg').text('아이디 / 패스워드를 입력하세요');
                    return false;
                }

                $.ajax({
                    url : '/account/login',
                    method : 'POST',
                    contentType : 'application/json',
                    data : JSON.stringify({
                        email : email,
                        password : password
                    }),
                    success : function(data) {
                        if (data.success) {
                            window.location = '/';
                        } else {
                            $('.login-form .login-fail-msg').text(data.msg);
                        }
                    },
                    error : function() {
                    }
                });

                event.preventDefault();
            });
        });
    </script>
</html>
