<!DOCTYPE html>
<html>
    <% include ../partial/common/head %>
    <body class="no-trans">
        <!-- scrollToTop -->
        <!-- ================ -->
        <div class="scrollToTop circle">
            <i class="icon-up-open-big"></i>
        </div>

        <!-- page wrapper start -->
        <!-- ================ -->
        <div class="page-wrapper">
            <% include ../partial/common/header %>


            <% include ../partial/common/footer %>
        </div>
        <!-- page-wrapper end -->
        <% include ../partial/common/scripts %>
    </body>
</html>