<!DOCTYPE html>
<html>
    <% include ../partial/common/head %>
    <link rel='stylesheet' type='text/css' href='/static/plugins/meduim-editor/css/medium-editor.css'>
    <link rel='stylesheet' type='text/css' href='/static/plugins/meduim-editor/css/themes/default.css'>
    <link rel='stylesheet' type='text/css' href='/static/css/write.css'>
    <body class='no-trans'>
        <!-- scrollToTop -->
        <!-- ================ -->
        <div class="scrollToTop circle">
            <i class="icon-up-open-big"></i>
        </div>

        <!-- page wrapper start -->
        <!-- ================ -->
        <div class="page-wrapper">
            <% include ../partial/common/header %>
            <section class='main-container'>
                <div class='container'>
                    <div class='row'>
                        <div class='col-md-12'>
                            <h1 class='page-title'>후기 작성
                            <code class='draft text-alert' style='display:none;margin-left:10px'>
                                DRAFT
                            </code></h1>
                            <div class='separator-2'></div>
                            <div class='write-form'>
                                <h1 class='title' contenteditable='true'></h1>
                                <div class='content' contenteditable='true'></div>
                            </div>
                        </div>
                        <a href="#" class="btn btn-animated btn-warning write-btn pull-right">글 저장 <i class="fa fa-pencil"></i></a>
                    </div>
                </div>
            </section>
            <!--form id =  "uploadForm"
            enctype =  "multipart/form-data"
            action  =  "/api/photo"
            method  =  "post" >
            <input type="file" id="file" name="files[]" multiple onchange="startRead()"/>
            <div id="preview"></div>
            <input type="submit" value="Upload Image" name="submit">
            <script>
            function startRead(evt) {
            var file = document.getElementById('file').files[0];
            if (file) {
            if (file.type.match("image.*")) {
            getAsImage(file);
            alert("Name: " + file.name + "\n" + "Last Modified Date :" + file.lastModifiedDate);
            }
            }
            }

            function getAsImage(readFile) {
            var reader = new FileReader();
            reader.readAsDataURL(readFile);
            reader.onload = addImg;
            }

            function addImg(imgsrc) {
            var img = document.createElement('img');
            img.setAttribute("src", imgsrc.target.result);
            img.setAttribute("height", "510");
            img.setAttribute("width", "510");
            document.getElementById("preview").appendChild(img);
            }
            </script-->

            <% include ../partial/common/footer %>
        </div>
        <!-- page-wrapper end -->
        <% include ../partial/common/scripts %>
        <script src='/static/plugins/meduim-editor/js/medium-editor.js'></script>
        <script>
            var titleEditor;
            var contentEditor;
            $(document).ready(function() {
                getHookiDraft();
                setupEditables();
                $('.write-btn').click(function() {
                    saveHooki();
                });
            });

            function setupEditables() {
                titleEditor = new MediumEditor('.write-form .title', {
                    placeholder : {
                        text : '제목을 입력하세요.'
                    },
                    toolbar : false
                });
                contentEditor = new MediumEditor('.write-form .content', {
                    placeholder : {
                        text : '내용을 입력하세요.'
                    }
                });
                titleEditor.subscribe('editableInput', function(event, editable) {
                    $('.draft').show();
                    saveHookiDraft();
                    return event;
                });

                contentEditor.subscribe('editableInput', function(event, editable) {
                    $('.draft').show();
                    saveHookiDraft();
                    return event;
                });
            }

            function getHookiDraft() {
                $.ajax({
                    url : '/hooki/draft',
                    method : 'GET',
                    success : function(data) {
                        if (data.success) {
                            $('.draft').show();
                            $('.write-form .title').html(data.title);
                            $('.write-form .content').html(data.content);
                            setupEditables();
                        } else {
                            console.log(data.msg);
                        }
                    },
                    error : function() {
                        console.log('server error.');
                    }
                });
            }

            function saveHookiDraft() {
                var title = $('.write-form .title').text();
                var content = $('.write-form .content').html();

                if (!title && !content) {
                    return;
                }

                $.ajax({
                    url : '/hooki/draft',
                    method : 'POST',
                    cotentType : 'application/json',
                    data : {
                        'title' : title,
                        'content' : content
                    },
                    success : function(data) {
                        if (data.success) {
                            console.log('save draft.');
                        } else {
                            console.log(data.msg);
                        }
                    },
                    error : function() {
                        console.log('server error.');
                    }
                });
            }

            function saveHooki() {
                var title = $('.write-form .title').text();
                var content = $('.write-form .content').html();

                if (!title && !content) {
                    return;
                }

                $.ajax({
                    url : '/hooki/write',
                    method : 'POST',
                    cotentType : 'application/json',
                    data : {
                        'title' : title,
                        'content' : content
                    },
                    success : function(data) {
                        if (data.success) {
                            console.log('save hooki.');
                            window.location = '/hooki/read/' + data.sn;
                        } else {
                            console.log(data.msg);
                        }
                    },
                    error : function() {
                        console.log('server error.');
                    }
                });
            }
        </script>
    </body>
</html>
