<!DOCTYPE html>
<html>
    <head>
    </head>

    <body>
        <h1>login</h1>

        <form method="post" action="/login">
            <div>
                <label>username:</label>
                <input type="text" name="username" />
            </div>
            <div>
                <label>Password:</label>
	        <input type="password" name="password" />
            </div>
            <div>
                <input type="submit" value="login" />
            </div>
        </form>

        <h1>or</h1>
        <h2>Sign up using Google</h2>
        <h2>Sign up using Facebook</h2>
        <h2>Sign up using Twitter</h2>
    </body>
</html>
