<!DOCTYPE html>
<html>
    <head>
        <% include ../../partial/common/head %>
    </head>
    <body>
        <div class='header-wrap'>
            <% include ../../partial/start/header %>
        </div>
        <div class='nav-wrap'>
            <% include ../../partial/start/nav %>
        </div>
        <div class='content'>
            review
        </div>
        <div class='footer-wrap'>
            <% include ../../partial/start/footer %>
        </div>
    </body>
</html>
